<% if @parent_comment.present? %>
  $("#replies-of-comment-<%= @parent_comment.id %>").prepend("<%= j render 'reply', parent_comment: @parent_comment, reply: @new_comment %>")
  $($("#replies-of-comment-<%= @parent_comment.id %>").closest(".reply").find(".reply__option")[0]).replaceWith("<%= j render 'reply_option', comment: @parent_comment %>")
  $($("#replies-of-comment-<%= @parent_comment.id %>").closest(".reply").find("form")[0]).find("textarea").val("")
  $($("#replies-of-comment-<%= @parent_comment.id %>").closest(".reply").find("form")[0]).addClass("d-none")
<% else %>
  $(".post__main__comments__list").prepend("<%= j render 'comment', comment: @new_comment %>")
  $(".post__main__comments__form textarea").val("")
<% end %>

$(".post__option__comment__count").replaceWith("<span class='post__option__comment__count'><%= @post.comments.size %></span>")
